h1 {
    font-size: 50px;
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.title-theme {
    max-width: 100vw;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width:450px) {

    h1 {
        max-width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }
}